<div class="auth-container position-relative m-auto my-5 py-5 px-3 bg-white shadow-sm rounded-3 border border-light-subtle">

    <div class="mb-2 border-bottom border-light-subtle pb-2">
      <h2 class="mb-0 h4">Cambiar Contraseña</h2>
    </div>
  
    <form method="post" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      <!-- Old Password -->
      <div class="mb-3">
        <label class="form-label">Contraseña Actual</label>
        <input class="form-control form-control-sm" type="password" placeholder="*****" formControlName="oldPassword">
      </div>
  
      <!-- New Password -->
      <div class="mb-3">
        <label class="form-label">Nueva Contraseña</label>
        <input class="form-control form-control-sm" type="password" placeholder="Minimum 6 Digits" formControlName="newPassword">
      </div>
  
      <!-- Confirm New Password -->
      <div class="mb-4">
        <label class="form-label">Confirmar Nueva Contraseña</label>
        <input class="form-control form-control-sm" type="password" placeholder="Minimum 6 Digits" formControlName="confirmPassword">
        <div *ngIf="changePasswordForm.hasError('mismatch')" class="text-danger small mt-1">
          Las contraseñas no coinciden.
        </div>
      </div>
  
      <!-- Submit Button -->
      <div class="mb-0">
        <button type="submit" class="btn btn-sm btn-primary w-100" [disabled]="changePasswordForm.invalid">Cambiar Contraseña</button>
      </div>
    </form>
  
  </div>