<div *ngIf="isLoading; else content">
    <p>Loading products...</p>
  </div>
  
  <ng-template #content>
    <div *ngIf="error; else productList">
      <p>{{ error }}</p>
    </div>
  
    <ng-template #productList>
      <!-- Wrap the product list in a row -->
      <div class="row mx-2 mt-3"> <!-- Add horizontal margin to the row -->
        <div *ngFor="let product of products" class="col-12 col-md-6 col-lg-4 mb-4 px-2"> <!-- Add horizontal padding to columns -->
          <div class="auth-container position-relative m-auto py-5 px-3 bg-white shadow-sm rounded-3 border border-light-subtle text-center d-flex flex-column align-items-center">
            <!-- Product Image -->
            <div class="mb-3">
              <img [src]="product.image" alt="{{ product.name }}" class="img-fluid rounded" *ngIf="product.image; else noImage">
              <ng-template #noImage>
                <div class="text-center py-3 bg-light rounded">
                  <p class="mb-0 text-muted">No image available</p>
                </div>
              </ng-template>
            </div>
  
            <!-- Product Details -->
            <div class="mb-2 border-bottom border-light-subtle pb-2 w-100">
              <h2 class="mb-0 h4">{{ product.name }}</h2>
            </div>
            <div class="mb-2 w-100">
                <p class="mb-0">Price: {{ product.price | currency: currencyMap[product.currency] }}</p>
            </div>
            <div class="mb-0 w-100 mb-2">
              <button class="btn btn-sm btn-info w-100" (click)="viewProduct(product)">Ver Producto</button>
            </div>
            <div class="mb-0 w-100">
              <button class="btn btn-sm btn-primary w-100" (click)="addToCart(product)">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ng-template>