.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
  
    .modal-title {
      margin: 0;
    }
  
    .close-button {
      background: none;
      border: none;
      font-size: 1.5rem;
      color: #6c757d;
      cursor: pointer;
    }
  }
  
  .modal-body {
    padding: 1rem;
  
    @media (max-width: 576px) {
      margin-top: 20px;
    }
  }
  
  .d-flex {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }